# Интерфейс
gradio==5.35.0

# Основные ML-фреймворки
numpy<2
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1

# Аудиообработка
pydub
edge-tts
PolFlashSR
# PolUVR[gpu]
ffmpeg-python>=0.2.0

# Отслеживание высоты тона
torchfcpe
torchcrepe

# Вспомогательные утилиты и библиотеки
wget
tqdm
gdown
mega-x
einops
requests
omegaconf
tensorboardX
local-attention
faiss-cpu==1.7.3
